<?xml version="1.0" encoding="utf-8"?>
<odoo>


    <!-- Portail accès professionels -->
    <record id="is_ect_collecte_pro_main_menu" model="ir.ui.menu">
        <field name="name">Portail accès professionels</field>
        <field name="sequence">1</field>
        <field name="groups_id" eval="[(6,0,[
            ref('base.group_portal'),
        ])]"/>
    </record>
    <!--
    <record id="is_res_partner_pro_main_menu" model="ir.ui.menu">
        <field name="name">Collectivités</field>
        <field name="sequence">10</field>
        <field name="parent_id" eval="ref('is_ect_collecte_pro_main_menu')"/>
        <field name="groups_id" eval="[(6,0,[
            ref('base.group_portal'),
        ])]"/>
    </record>
    <menuitem 
        id="is_res_partner_pro_menu" 
        sequence="10" 
        name="Collectivités"
        parent="is_res_partner_pro_main_menu" 
        action="is_res_partner_action" 
    />
    -->
    <menuitem 
        id="is_reclamation_pro_main_menu" 
        sequence="20" 
        name="Réclamations"   
        parent="is_ect_collecte_pro_main_menu" 
    />
    <menuitem 
        id="is_reclamation_pro_menu" 
        sequence="10" 
        name="Réclamations"
        parent="is_reclamation_pro_main_menu" 
        action="is_reclamation_action" 
    />








    <!-- ECT Collecte -->
    <record id="is_ect_collecte_main_menu" model="ir.ui.menu">
        <field name="name">ECT Collecte</field>
        <field name="sequence">1</field>
        <field name="groups_id" eval="[(6,0,[
            ref('base.group_user'),
        ])]"/>
    </record>


    <!-- Collectivité -->
    <record id="is_res_partner_main_menu" model="ir.ui.menu">
        <field name="name">Collectivités</field>
        <field name="sequence">10</field>
        <field name="parent_id" eval="ref('is_ect_collecte_main_menu')"/>
        <field name="groups_id" eval="[(6,0,[
            ref('base.group_user'),
        ])]"/>
    </record>
    <menuitem 
        id="is_res_partner_menu" 
        sequence="10" 
        name="Collectivités"
        parent="is_res_partner_main_menu" 
        action="is_res_partner_action" 
    />
    <menuitem 
        id="is_res_partner_contact_menu" 
        sequence="20" 
        name="Contacts"
        parent="is_res_partner_main_menu" 
        action="is_res_partner_contact_action" 
    />



    <!-- Réclamations -->
    <menuitem 
        id="is_reclamation_main_menu" 
        sequence="20" 
        name="Réclamations"   
        parent="is_ect_collecte_main_menu" 
    />
    <menuitem 
        id="is_reclamation_a_traiter_menu" 
        sequence="10" 
        name="Réclamations à traiter"   
        parent="is_reclamation_main_menu" 
        action="is_reclamation_a_traiter_action" 
    />
    <menuitem 
        id="is_reclamation_en_attente_menu" 
        sequence="20" 
        name="Réclamations en attente"
        parent="is_reclamation_main_menu" 
        action="is_reclamation_en_attente_action" 
    />
    <menuitem 
        id="is_reclamation_terminee_menu" 
        sequence="30" 
        name="Réclamations terminées"
        parent="is_reclamation_main_menu" 
        action="is_reclamation_termine_action" 
    />
    <menuitem 
        id="is_reclamation_menu" 
        sequence="40" 
        name="Toutes les réclamations"
        parent="is_reclamation_main_menu" 
        action="is_reclamation_action" 
    />


    <!-- Statistiques -->
    <record id="is_statistique_menu" model="ir.ui.menu">
        <field name="name">Statistiques</field>
        <field name="sequence">30</field>
        <field name="parent_id" eval="ref('is_ect_collecte_main_menu')"/>
        <field name="groups_id" eval="[(6,0,[
            ref('base.group_user'),
        ])]"/>
    </record>
    <menuitem 
        id="is_reclamation_par_client_menu" 
        sequence="10" 
        name="Réclamations par client"
        parent="is_statistique_menu" 
        action="is_reclamation_par_client_action" 
    />
    <menuitem 
        id="is_reclamation_par_objet_menu" 
        sequence="20" 
        name="Réclamations par objet"
        parent="is_statistique_menu" 
        action="is_reclamation_par_objet_action" 
    />



    <!-- Objet de la réclamantion -->
    <record id="is_table_menu" model="ir.ui.menu">
        <field name="name">Tables</field>
        <field name="sequence">40</field>
        <field name="parent_id" eval="ref('is_ect_collecte_main_menu')"/>
        <field name="groups_id" eval="[(6,0,[
            ref('base.group_user'),
        ])]"/>
    </record>
    <menuitem 
        id="is_reclamation_objet_menu" 
        sequence="10" 
        name=" Objet de la réclamantion"
        parent="is_table_menu" 
        action="is_reclamation_objet_action" 
    />



    <!-- Configuration -->
    <record id="is_configuration_menu" model="ir.ui.menu">
        <field name="name">Configuration</field>
        <field name="sequence">50</field>
        <field name="parent_id" eval="ref('is_ect_collecte_main_menu')"/>
        <field name="groups_id" eval="[(6,0,[
            ref('base.group_user'),
        ])]"/>
    </record>
    <menuitem 
        id="is_ir_cron_menu" 
        sequence="10" 
        name="Actions planifiées"
        parent="is_configuration_menu" 
        action="is_ir_cron_action" 
    />
    <menuitem 
        id="is_fetchmail_server_menu" 
        sequence="20" 
        name="Serveurs de courriels"
        parent="is_configuration_menu" 
        action="is_fetchmail_server_action" 
    />
    <menuitem 
        id="is_mail_message_menu" 
        sequence="30" 
        name="Courriels"
        parent="is_configuration_menu" 
        action="is_mail_message_action" 
    />
    <menuitem 
        id="is_mail_template_menu" 
        sequence="40" 
        name="Modèle courriel réclamantion"
        parent="is_configuration_menu" 
        action="is_mail_template_action" 
    />
    <menuitem 
        id="is_mail_template_user_menu" 
        sequence="50" 
        name="Modèle courriel connexion"
        parent="is_configuration_menu" 
        action="is_mail_template_user_action" 
    />

    <menuitem 
        id="is_mail_footer_template_menu" 
        sequence="60" 
        name="Signature des courriels"
        parent="is_configuration_menu" 
        action="is_mail_footer_template_action" 
    />






    <!-- Déplacer les menus inutilisés sous 'Configuration / Technique' -->
    <menuitem id="mail.mail_channel_menu_root_chat" parent="base.menu_custom"/>
    <menuitem id="utm.menu_link_tracker_root"       parent="base.menu_custom"/>


</odoo>
